.git
.github
**/.oar-workspace
**/node_modules
**/.svelte-kit
**/build
**/.bin
**/.env
**/.env.*
!**/.env.example
!**/.env.build
**/dist
**/*.test.go
**/*_test.go
**/*_integration_test.go
**/tests
runbooks
